<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.kjobs.service.popup.impl.PopupMapper">

	<sql id="where">
		 <![CDATA[
		 WHERE
		 	USE_YN = 'Y'
		 ]]>
		<if test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( menuId )'>
			<if test='menuId == "index"'>
				<![CDATA[ AND S_DATE <= NOW() AND E_DATE >= NOW() ]]>
			</if>
		</if>
		<if test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( searchKeyword )'>
			<choose>
				<when test='searchCondition == "1"'>
					<![CDATA[ AND TITLE LIKE CONCAT('%', #{searchKeyword}, '%') ]]>
				</when>
				<when test='searchCondition == "2"'>
					<![CDATA[ AND CONCAT(CONTENT, SPOT_CONTENT)  LIKE CONCAT('%', #{searchKeyword}, '%') ]]>
				</when>
				<otherwise>
					<![CDATA[ AND CONCAT(TITLE, CONTENT, SPOT_CONTENT) LIKE CONCAT('%', #{searchKeyword}, '%') ]]>
				</otherwise>
			</choose>
		</if>

	</sql>

	<select id="list" resultType="myCamelMap">
		SELECT CONVERT(DD.NUM, CHAR) AS RNUM, DD.* FROM (
            SELECT @ROWNUM := @ROWNUM + 1 AS NUM, D.* FROM (
		        SELECT
		        	P_IDX,
		        	S_DATE,
		        	E_DATE,
		        	P_WIDTH,
		        	P_HEIGHT,
		        	P_LEFT,
		        	P_TOP,
		        	TITLE,
					CONTENT,
					USE_YN,
					REG_ID,
					REG_NAME,
					REG_DATE,
					FILECLASS
				FROM
					TB_POPUP P, (SELECT @ROWNUM := 0) R
				<include refid="where" />
			 ) D
			 ORDER BY D.P_IDX ASC
         ) DD
         ORDER BY NUM DESC
         limit #{firstIndex}, #{recordCountPerPage}
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) AS TOT_CNT
		FROM TB_POPUP
		<include refid="where" />
	</select>

	<select id="select" resultType="myCamelMap">
		<![CDATA[
			SELECT
				P_IDX,
				S_DATE,
	        	E_DATE,
	   	       	P_WIDTH,
		       	P_HEIGHT,
		       	P_LEFT,
		       	P_TOP,
	    		TITLE,
				CONTENT,
				USE_YN,
				REG_ID,
				REG_NAME,
				REG_DATE,
				FILECLASS
			FROM
				TB_POPUP P
			WHERE
				USE_YN = 'Y'
				AND P_IDX = #{pIdx}

		]]>
	</select>

	<insert id="insert">
		<![CDATA[
			INSERT INTO TB_POPUP
				(
				P_IDX,
				S_DATE,
	        	E_DATE,
	        	P_WIDTH,
	        	P_HEIGHT,
	        	P_LEFT,
	        	P_TOP,
				TITLE,
				CONTENT,
				FILECLASS,
				USE_YN,
				REG_ID,
				REG_NAME,
				REG_DATE,
				REG_IP
				)
			VALUES
				((SELECT COALESCE(MAX(CONVERT(P_IDX, UNSIGNED)), 0)+1 AS P_IDX FROM TB_POPUP P),
				#{sDate},
				#{eDate},
	        	#{pWidth},
				#{pHeight},
				#{pLeft},
				#{pTop},
				#{title},
				#{content},
				#{fileclass},
				'Y',
		        #{session.id},
		        #{session.name},
		        now(),
				#{remoteAddr}
				)
		]]>
		<selectKey keyProperty="pIdx" resultType="int">SELECT LAST_INSERT_ID()</selectKey>
	</insert>

    <update id="update">
		<![CDATA[
			UPDATE TB_POPUP
			SET
				S_DATE = #{sDate},
				E_DATE = #{eDate},
				P_WIDTH = #{pWidth},
				P_HEIGHT = #{pHeight},
				P_LEFT = #{pLeft},
				FILECLASS = #{fileclass},
				P_TOP = #{pTop},
				TITLE = #{title},
				CONTENT = #{content},
				MOD_ID = #{session.id},
				MOD_NAME = #{session.name},
				MOD_DATE = now(),
				MOD_IP = #{remoteAddr}
			WHERE
				P_IDX = #{pIdx}
		]]>
	</update>

	<delete id="delete">
		<![CDATA[
			UPDATE TB_POPUP
			SET
				USE_YN = 'N',
				MOD_ID = #{session.id},
				MOD_NAME = #{session.name},
				MOD_DATE = now(),
				MOD_IP = #{remoteAddr}
			WHERE
				P_IDX = #{pIdx}
		]]>
	</delete>

</mapper>
