<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.kjobs.service.inquiry.impl.InquiryMapper">

	<sql id="where">
		 <![CDATA[
		 WHERE
		 	USE_YN = 'Y'
		 AND
		 	CODE=#{code}
		 ]]>
		<if test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( searchKeyword )'>
			<choose>
				<when test='searchCondition == "1"'>
					<![CDATA[ AND TITLE LIKE CONCAT('%', #{searchKeyword}, '%') ]]>
				</when>
				<when test='searchCondition == "2"'>
					<![CDATA[ AND CONTENT LIKE CONCAT('%', #{searchKeyword}, '%') ]]>
				</when>
				<otherwise>
					<![CDATA[ AND CONCAT(TITLE, CONTENT) LIKE CONCAT('%', #{searchKeyword}, '%') ]]>
				</otherwise>
			</choose>
		</if>

	</sql>

	<select id="list" resultType="myCamelMap">
		SELECT CONVERT(DD.NUM, CHAR) AS RNUM, DD.* FROM (
            SELECT @ROWNUM := @ROWNUM + 1 AS NUM, D.* FROM (
		        SELECT
		        	I_IDX,
					NAME,
					TEL,
					HIT,
					EMAIL,
					COMPANY,
					DEPART,
					TITLE,
					CONTENT,
					USE_YN,
					REG_ID,
					REG_NAME,
					REG_DATE,
					REPLY_YN,
					DIVISION
				FROM
					TB_INQUIRY I, (SELECT @ROWNUM := 0) R
				<include refid="where" />
			 ) D
			 ORDER BY I_IDX ASC
         ) DD
         ORDER BY NUM DESC
         limit #{firstIndex}, #{recordCountPerPage}
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) AS TOT_CNT
		FROM TB_INQUIRY
		<include refid="where" />
	</select>

	<select id="select" resultType="myCamelMap">
		<![CDATA[
			SELECT
				I_IDX,
				NAME,
				TEL,
				EMAIL,
				COMPANY,
				DEPART,
				TITLE,
				HIT,
				CONTENT,
				USE_YN,
				REG_ID,
				REG_NAME,
				REG_DATE,
				REPLY_YN,
				ANSWER,
				DIVISION,
				ADDRESS,
				CODE
			FROM
				TB_INQUIRY
			WHERE
				USE_YN = 'Y'
				AND I_IDX = #{iIdx}

		]]>
	</select>

	<select id="next" resultType="myCamelMap">
		<![CDATA[
		SELECT
			I_IDX, TITLE
		FROM
			TB_INQUIRY
		 ]]>
		<include refid="where" />
		<![CDATA[
			AND I_IDX < #{iIdx}
	        ORDER BY I_IDX DESC
	        limit 1
	    ]]>
	</select>

	<select id="prev" resultType="myCamelMap">
		<![CDATA[
		SELECT
			I_IDX, TITLE
		FROM
			TB_INQUIRY
		 ]]>
		<include refid="where" />
		<![CDATA[
			AND I_IDX > #{iIdx}
	        ORDER BY I_IDX ASC
	        limit 1
	    ]]>
	</select>

	<insert id="insert">
		<![CDATA[
			INSERT INTO TB_INQUIRY
				(
				I_IDX,
				NAME,
				TEL,
				EMAIL,
				COMPANY,
				DEPART,
				TITLE,
				CONTENT,
				USE_YN,
				REG_ID,
				REG_NAME,
				REG_DATE,
				REG_IP,
				REPLY_YN,
				DIVISION,
				ADDRESS,
				CODE
				)
			VALUES
				((SELECT COALESCE(MAX(CONVERT(I_IDX, UNSIGNED)), 0)+1 AS I_IDX FROM TB_INQUIRY I),
				#{name},
				#{tel},
				#{email},
				#{company},
				#{depart},
				#{title},
				#{content},
				'Y',
		        #{session.id},
		        #{session.name},
		        now(),
				#{remoteAddr},
				'N',
				#{division},
				#{address},
				#{code}
				)
		]]>
		<selectKey keyProperty="eiIdx" resultType="int">SELECT LAST_INSERT_ID()</selectKey>
	</insert>

    <update id="update">
		<![CDATA[
			UPDATE TB_INQUIRY
			SET
				NAME = #{name},
				TEL = #{tel},
				EMAIL = #{email},
				COMPANY = #{company},
				DEPART = #{depart},
				TITLE = #{title},
				CONTENT = #{content},
				MOD_ID = #{session.id},
				MOD_NAME = #{session.name},
				MOD_DATE = now(),
				MOD_IP = #{remoteAddr},
				ANSWER = #{answer},
				REPLY_YN = #{replyYn},
				DIVISION = #{division},
				ADDRESS = #{address}
			WHERE
				I_IDX = #{iIdx}
		]]>
	</update>

	<delete id="delete">
		<![CDATA[
			UPDATE TB_INQUIRY
			SET
				USE_YN = 'N',
				MOD_ID = #{session.id},
				MOD_NAME = #{session.name},
				MOD_DATE = now(),
				MOD_IP = #{remoteAddr}
			WHERE
				I_IDX = #{iIdx}
		]]>
	</delete>

</mapper>
