<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.kjobs.service.member.impl.MemberMapper">

	<select id="select" resultType="myCamelMap">
		<![CDATA[
			SELECT
				M_IDX,
				ID,
				NAME,
				PW,
				EMAIL,
				AUTH,
				USE_YN,
				REG_ID,
				REG_NAME,
				REG_DATE,
				ADDRESS,
				PHONE
			FROM
				TB_MEMBER
			WHERE
				USE_YN = 'Y'
		]]>
			<choose>
				<when test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( mIdx ) and session.auth == "1"'>
					AND M_IDX = #{mIdx}
				</when>
				<when test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( id )'>
					AND ID = #{id}
				</when>
				<when test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( name )'>
					AND NAME = #{name}
					AND PHONE = #{tel}
				</when>
				<when test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( findId )'>
					AND ID = #{findId}
					AND PHONE = #{tel}
				</when>

			</choose>
		<![CDATA[
			limit 1
		]]>
	</select>

	 <update id="update">
		<![CDATA[
			UPDATE TB_MEMBER
			SET
				ADDRESS = #{address},
				PHONE = #{phone},
				MOD_ID = #{session.id},
				MOD_NAME = #{session.name},
				MOD_DATE = now(),
				MOD_IP = #{remoteAddr}

		]]>
			<choose>
			<when test='@egovframework.com.cmm.util.MybatisUtil@isNotEmpty( pw )'>
						,PW = #{pw}
					</when>
			</choose>
		<![CDATA[

			WHERE
				M_IDX = #{mIdx}
		]]>
	</update>

	<select id="count" resultType="int">
		SELECT COUNT(*) AS TOT_CNT
		FROM TB_MEMBER
		WHERE
			AUTH='2'
			AND	USE_YN='Y'

	</select>

	<select id="list" resultType="myCamelMap">
		<![CDATA[
		SELECT CONVERT(DD.NUM, CHAR) AS RNUM, DD.* FROM (
       		SELECT @ROWNUM := @ROWNUM + 1 AS NUM, D.* FROM (
				SELECT
					M_IDX,
					ID,
					NAME,
					USE_YN,
					REG_DATE,
					ADDRESS,
					PHONE,
					EMAIL
				FROM
					TB_MEMBER M,(SELECT @ROWNUM := 0) R
				WHERE
					USE_YN = 'Y'
					AND AUTH ='2'
			) D
         ) DD
		ORDER BY NUM DESC
         limit #{firstIndex}, #{recordCountPerPage}
		]]>
	</select>

	<delete id="delete">
		<![CDATA[
			UPDATE TB_MEMBER
			SET
				USE_YN = 'N',
				MOD_ID = #{session.id},
				MOD_NAME = #{session.name},
				MOD_DATE = now(),
				MOD_IP = #{remoteAddr}
			WHERE
				M_IDX = #{mIdx}
		]]>
	</delete>
	<insert id="join">
	<![CDATA[
		INSERT INTO TB_MEMBER
							(
							M_IDX,
							ID,
							NAME,
							PW,
							EMAIL,
							AUTH,
							USE_YN,
							REG_ID,
							REG_NAME,
							REG_DATE,
							REG_IP,
							PHONE,
							ADDRESS
							)
							 VALUES
							((SELECT COALESCE(MAX(CONVERT(M_IDX, UNSIGNED)),0)+1 AS M_IDX FROM TB_MEMBER M),
							#{id},
							#{name},
							#{pw},
							#{email},
							'2',
							'Y',
							#{id},
							#{name},
							now(),
							#{remoteAddr},
							#{tel},
							#{address}
							)
			]]>
	</insert>
</mapper>
